footer {
  .footer-content {
    display: flex;
    background: url("../images/footer_background.jpg");
    background-size: 100% 100%;

    background-repeat: no-repeat;
    height: 300px;
    > * {
      height: 100%;
      width: 100%;
      padding: 20px;
    }
    *:not(p) {
      color: rgb(255, 255, 255);
    }
    h4 {
      font-size: 25px;
      text-transform: uppercase;
      margin-bottom: 30px;
    }
    .container_about-us {
      p {
        font-size: 13px;
        color: rgb(255, 255, 255, 0.8);
      }
      .icons-socials {
        display: flex;
        justify-content: space-between;
        width: 60%;
        i {
          font-size: 20px;
        }
      }
    }

    .container-instagram {
      height: 100%;
      width: 100%;
      .row-bg {
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
        .insta-bg1 {
          background-image: url("../images/instragram_gallery_img1.jpg");
        }
        .insta-bg2 {
          background-image: url("../images/instragram_gallery_img2.jpg");
        }
        .col-bg {
          height: 60px;
          width: 60px;
          background-repeat: no-repeat;
          background-size: 100% 100%;
        }
      }
    }

    .container_popular-tags {
      div {
        display: flex;
        p {
          font-size: 0.8em;
          background-color: $redlight;

          border-radius: 15px;
          padding: 5px 10px;
        }
      }
    }
  }

  .bg-footer {
    height: 100px;
    background-color: $redlight;
  }
}

@media (max-width: 1024px) {
  footer {
    .footer-content {
      justify-content: center;
      flex-wrap: wrap;
      height: fit-content;

      > * {
        display: flex;
        flex-direction: column;
        width: max(60%, 460px);
        text-align: center;
        align-items: center;
      }

      .container-instagram {
        .row-bg {
          .col-bg:not(:first-child) {
            margin-left: 10px;
          }
          .col-bg {
            height: max(15vw, 60px);
            width: max(15vw, 60px);
          }
        }
      }
    }
  }
}
