.meet-chef_container {
  height: fit-content;

  background-color: black;

  *:not(span) {
    color: white;
  }

  .row {
    .col {
      display: flex;
      flex-direction: column;
      align-items: center;

      img {
        height: 242px;
        width: 166px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.9);
      }

      p {
        height: fit-content;
        text-align: center;
      }

      p:last-child {
        height: 0;
        overflow: hidden;
        border: none;
        transition: 2s;
        color: rgba(255, 255, 255, 0);
      }

      p:first-child:hover ~ p {
        height: 90px;
        border: 2px solid $greylight;
        color: white;
      }
    }
  }
}
