section.our-contact {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  .our-contact_content {
    display: flex;
    flex-direction: column;
    background-color: $redlight;
    width: max(40%, 390px);
    border-radius: 10px;
    padding: 10px;

    * {
      color: white;
    }

    > div:not(:last-of-type) {
      border-bottom: 2px solid rgba(255, 255, 255, 0.5);
    }

    > div {
      text-align: center;

      i {
        font-size: 50px;
      }
      p {
        margin-top: 5px;
      }
    }
  }
}
