main {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(../images/main_bg.jpg);
  min-width: 436px;

  height: 4200px;
  // height: fit-content;

  .title {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px 0;

    h2 {
      span {
        text-transform: uppercase;
        color: $redlight;
      }
    }
  }
}
.section-menu_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: fit-content;
  width: 90%;
  background-color: white !important;

  background: url(../images/box-left-top.png) top left,
    url(../images/box-right-top.png) top right,
    url(../images/box-bottom-left.png) bottom left,
    url(../images/box-bottom_right.png) bottom right;
  background-repeat: no-repeat;

  .our-story {
    display: flex;
    flex-direction: column;
    align-items: center;

    p {
      width: 60%;
      text-align: center;
      margin: 20px 0;
    }
  }
  .menu-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 150px;

    .menu-list_content {
      width: 100%;
      display: flex;

      .sidebar {
        width: 20%;

        .onglet-sidebar {
          display: flex;
          flex-direction: column;
          width: 100%;
          height: 100px;
          border-bottom: 2px solid gray !important;

          a {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            border: none !important;
            width: 100% !important;

            height: 100%;
            color: black;
            font-size: 25px;
            i {
              color: grey;
              font-size: 50px;
            }
          }
        }
        a:focus {
          border-right: 5px solid $redlight !important;

          i {
            color: $redlight !important;
          }
        }
      }
      .sidebar-content {
        width: 100%;
        .row {
          display: flex;
          justify-content: space-between;
          .col:first-child {
            margin-right: 30px;
          }
          .col {
            display: flex;
            align-items: center;
            height: 100px;
            padding: 0;

            border-bottom: 2px dashed grey;
            img {
              border-radius: 50%;
              width: 80%;
              height: 80%;
            }

            .menu-list_text {
              display: flex;
              flex-direction: column;
              justify-content: center;
              p {
                font-size: 12px;
                margin: 0;
              }
              p:first-of-type {
                font-weight: bold;
              }
            }
            .price {
              display: flex;
              justify-content: flex-end;
              align-items: center;
              height: 100%;

              span {
                background-color: rgba(128, 128, 128, 0.3);
                padding: 0 10px;
                color: $redlight;
              }
            }
          }
        }
      }
    }
  }
}
@media (max-width: 1024px) {
  main {
    height: 4600px;
  }
}
@media (max-width: 768px) {
  main {
    height: 5900px;
  }
  .section-menu_content {
    .our-story {
      p {
        font-size: max(2vw, 13px);
      }
    }
    .menu-list {
      .menu-list_content {
        .sidebar {
          .onglet-sidebar {
            a {
              font-size: max(3vw, 12px);
              i {
                color: grey;
                font-size: max(7vw, 25px);
              }
            }
          }
        }
        .sidebar-content {
          width: 100%;
          height: fit-content;
          .row {
            display: flex;
            flex-direction: column !important;
            justify-content: space-between;
            .col:first-child {
              margin-right: 30px;
            }
            .col {
              justify-content: center !important;
              height: 100px;
              padding: 0;
              > * {
                display: flex;
                justify-content: center;
              }

              border-bottom: 2px dashed grey;
              img {
                width: 60%;
                height: 60%;
              }

              .menu-list_text {
                display: flex;
                flex-direction: column;
                justify-content: center;
                p {
                  font-size: 12px;
                  margin: 0;
                }
                p:first-of-type {
                  font-weight: bold;
                }
              }
              .price {
                display: flex;
                justify-content: flex-end;
                align-items: center;
                height: 100%;

                span {
                  background-color: rgba(128, 128, 128, 0.3);
                  padding: 0 10px;
                  color: $redlight;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 425px) {
  main {
    height: 6750px;
    width: 100%;
  }
}
