.section_book-table {
  height: fit-content;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white !important;
  background: url(../images/box-left-top-grey.png) top left,
    url(../images/box-right-top-grey.png) top right,
    url(../images/box-bottom-left-grey.png) bottom left,
    url(../images/box-bottom_right-grey.png) bottom right;
  background-repeat: no-repeat;
  margin: 20px 0;

  a {
    height: fit-content;
    width: fit-content;

    color: black;
    border-radius: 20px;
    padding: 10px 20px;
    background-color: $redlight;
    text-transform: uppercase;
  }
  a:hover {
    color: white;
  }

  .container-form {
    background-image: url("../images/book_table_bg.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border-radius: 10px;
    height: fit-content;
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
    span,
    a {
      color: white;
    }
    p {
      margin: 50px 0;

      color: rgba(255, 255, 255, 0.8);
      width: 100%;
      text-align: center;
    }
    .container {
      text-align: center;

      .row {
        margin-bottom: 15px;
        align-self: center;
        .col {
          * {
            border-radius: 10px;
            width: 100%;
            outline: none;
            padding: 10px;
          }
          ::placeholder {
            color: black;
          }
        }
      }
      a {
        display: flex;
        margin: 50px auto;
      }
    }

    .row:last-child {
      margin-bottom: 50px;
    }
  }

  .our-blog_container {
    width: 80%;
    margin-top: 40px;
    .row {
      margin-bottom: 40px;
      .col {
        .superposition {
          display: flex;
          flex-direction: column;
          align-items: center;
          position: relative;
          .bg1 {
            background-image: url("../images/blog_img1.jpg");
          }
          .bg2 {
            background-image: url("../images/blog_img2.jpg");
          }
          .bg-img {
            background-repeat: no-repeat;
            background-size: 100% 100%;
            border: 5px solid rgba(128, 128, 128, 0.5);
            border-radius: 10px;
            height: 225px;
            width: 325px;
            margin-bottom: 50px;
          }

          p {
            text-align: center;
            background-color: $redlight;

            color: rgba(255, 255, 255, 0.7);
            width: 90%;
            border-radius: 10px;
            padding: 10px 0;
            position: absolute;
            bottom: 0;

            span {
              color: white;
              font-size: 1.2em;
            }
          }
        }
      }
    }
    .lien-know {
      width: 100%;
      text-align: center;
      a {
        color: white;
      }
    }
  }
}

@media (max-width: 1023px) {
  .section_book-table {
    .container-form {
      height: fit-content;
      .container {
        .row {
          display: flex;
          flex-direction: column;
          .col:last-child {
            margin-top: 20px;
          }
        }
        a {
          display: flex;
          margin-bottom: 25px;
        }
      }
    }

    .our-blog_container {
      height: fit-content;
      width: 100%;
      margin-bottom: 150px;
      .row {
        .col:first-child {
          margin-bottom: 50px;
        }
        .col {
          .superposition {
            p {
              width: max(50%, 300px);
            }
          }
          div {
            display: flex;
            flex-direction: column;
            align-items: center;
            h4,
            p {
              width: max(55%, 305px);
            }
          }
        }
      }
    }
  }
}
